/* =======================================================> Project ============================================================<*/

.project-content{
    margin: 5%;
    text-align: center;
}

.project-content h1{
    font-size: 562.5%;
    color: #8F54CE;
}

.visit-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    margin-bottom: 70%;
    margin-left: 40%;
    margin-right: 60%;
    text-decoration: none;
}

.visit-1 p{
    color: magenta;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 60px;
    border-radius: 50%;
    border: 5px solid #AFB4FF;
    transition: 0.5s;

}
.visit-1 p:hover{
    color: white;
    background-color: #8F54CE;
}



.first-project{
    background-image: url("img/project/quest-to-code.png");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-left: 18%;
    margin-right: 12%;
    float: left;
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}

.first-project:hover{
    box-shadow: 4px 4px 8px 2px  #AFB4FF;
}

@media (max-width: 650px){
    .first-project{
        margin-left: 6%;
        margin-right: 2%;
        margin-bottom: 5%;
    }

    .first-project-2{
        margin-top: 6%;
        margin-left: 6%;
    }

    .first-project-3{
        margin-left: 6%;
    }
}




.first-project-2{
    background-image: url("img/project/blockcipher-music-room.png");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-left: 5%;
    float: left;
    /* border-radius: 5%; */
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}
.con{
    margin-top: 7%;
}

.first-project-2:hover{
    box-shadow: 4px 4px 8px 2px  #AFB4FF;
}

.first-project-3{
    background-image: url("img/project/window-11.jpg");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 2%;
    float: left;
    /* border-radius: 5%; */
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}

.first-project-3:hover{
    box-shadow: 4px 4px 8px 2px  #AFB4FF;
}


.first-project-4{
    background-image: url("img/project/free-website.jpg");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-top: 5%;
    /* padding-left: ; */
    margin-left: 6%;
    /* margin-right: 2%; */
    float: left;
    /* border-radius: 5%; */
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}

.first-project-4:hover{
    box-shadow: 4px 4px 8px 2px  #AFB4FF;
}



