*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Orbitron', sans-serif;
	background-color: #000;
	color: #00FF00;
/*	position: absolute;*/

}

.continer{
	text-align: center;
	margin: 2%;
/*	position: absolute;*/
}
.continer h1{
	font-size: 50px;
}
.continer p{
	font-size: 25px;
}
.continer p .typed{
	border-bottom: 2px solid #00FF00;

}

img{
	position: absolute;
	margin-top: 4%;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin-left: 18%;
	border: 5px solid #007a00;
}



.intro{
/*	margin-bottom: 5%;*/
 	text-align: center;
	line-height: 2.4;
	margin-top: 9%;
	margin-left: 45%;
	margin-right: 10%;

}

.read-more-about{
	margin-top: 10%;
	margin-left: 62%;
	padding: 10px;
	text-decoration: none;
	border-radius: 2%;
	color: #00FF00;
	border: 2px solid #00FF00;
	transition: 0.5s;
}
.read-more-about:hover{
	color: #fff;
	background: #007a00;
	border: 2px solid #007a00;
}
