*{
    padding: 0;
    margin: 0;
}
body{
    /* cursor: cell; */
    /*cursor: url('image-path.png'),auto*/
}

h1{
    /*display: fle;*/
    /*position: fi;*/
    /*margin-top: 5%;*/
    font-size: 562.5%;
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: #8F54CE;
}
h3{
    font-size: 30px;
}


@media (max-width: 650px){
    h1{
        margin-top: 25%;
        line-height: 2;
        font-size: 312.5%;
    }
}
.one-style{
    bottom: 10%;
}

body{
    background-color: #EAF6F6;
}
.heading{
    /* margin-bottom: 50%; */
    margin-top: 8%;
}

@media (max-width: 650px){
    .heading{
        margin-top: 25%;
    }
}

.heading h1{
    font-size: 562.5%;
    text-align: center;
    /* font-family: cursive; */
    font-family: 'Sacramento', cursive;
    color: #8F54CE;
    transition: 0.5s;
    
}
@media (max-width:650px){
    .heading h1{
        line-height: 2;
        font-size: 312.5%;
    }
}


.heading p{
    color: #4753f7;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}
.heading p:hover{
    cursor: pointer;
    font-size: 29px;
}


.pro{
    color: #ff8787;
    text-decoration: underline;
}
.container{
    /* display:flex; */
    /* position: fixed; */
    position: relative;
    /* display: inline-block; */
    margin-top: 5%;
    margin-right: 8%;
    text-align: right;
}

.container nav a{
    font-size: 20px;
    padding: 15px;
    color:#8F54CE;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    transition: 0.5s;
}

.container nav a:hover{
    transition: 0.5s;
    font-family: cursive;
    font-size: 30px;

}

@media (max-width: 550px){
    .container{
        display: none;
    }
}


.container nav a:hover{
    color: #9900F0;

}




.right{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #AFB4FF;
    clip-path: circle(53% at right -20%);
}



/*.left:hover{
    height: 900px;
    width: 900px;
}
*/
@media (max-width: 650px) {
    .right{*/
        transition: 0.5s;
        clip-path: circle(50% at right -20%);
    }

}

@media (max-width: 360px){
    .right{
        clip-path: circle(45% at right -20%);
    }

}




/* ================================================== Start left-Bottom animation */

.bottom-style{
    position: fixed;
    top: 559px;
    /* margin-top: 5%; */
    height: 31px;
    width: 330px;
    background-color: #AFB4FF;
    transition: 0.9s;
}

.bottom-style:hover{
    border-radius: 9%;
    width: 530px;
}

@media (max-width: 650px){
    .bottom-style{
        width: 150px;
        height: 28px;
    }

    .bottom-style:hover{
        width: 200px;
    }
}

.bottom-style-2{
    position: fixed;
    top: 610px;
    /* margin-top: 5%; */
    height: 31px;
    width: 251px;
    background-color: #AFB4FF;
    transition: 0.9s;
}

.bottom-style-2:hover{
    border-radius: 9%;
    width: 400px;
}

@media (max-width: 650px){
    .bottom-style-2{
        width: 78px;
        height: 28px;
    }
    .bottom-style-2:hover{
        width: 120px;
    }
}


.bottom-style-3{
    position: fixed;
    top: 660px;
    /* margin-top: 5%; */
    height: 31px;
    width: 170px;
    background-color: #AFB4FF;
    transition: 0.9s;
}

.bottom-style-3:hover{
    border-radius: 9%;
    width: 300px;
}

@media (max-width: 650px){
    .bottom-style-3{
        width: 40px;
        height: 28px;
    }
    .bottom-style-3:hover{
        width: 80px;
    }
}



/* ================================================== End Left-Bottom animation */

/* ================================================== Start Right-Bottom animation */

.bottom-style-right{
    position: fixed;
    top: 559px;
    right: 0px;
    /* margin-top: 5%; */
    height: 31px;
    width: 330px;
    background-color: #AFB4FF;
    transition: 0.9s;
}

.bottom-style-right:hover{
    border-radius: 9%;
    width: 530px;
}

@media (max-width: 650px){
    .bottom-style-right{
        width: 150px;
        height: 28px;
    }
    .bottom-style-right:hover{
        width: 200px;
    }
}

.bottom-style-right-2{
    position: fixed;
    top: 610px;
    /* margin-top: 5%; */
    right: 0px;
    height: 31px;
    width: 251px;
    background-color: #AFB4FF;
    transition: 0.9s;
}

.bottom-style-right-2:hover{
    border-radius: 9%;
    width: 400px;
}

@media (max-width: 650px){
    .bottom-style-right-2{
        width: 78px;
        height: 28px;
    }
    .bottom-style-right-2:hover{
        width: 120px;
    }
}

.bottom-style-right-3{
    position: fixed;
    top: 660px;
    /* margin-top: 5%; */
    right: 0px;
    height: 31px;
    width: 170px;
    background-color: #AFB4FF;
    transition: 0.9s;
}

.bottom-style-right-3:hover{
    border-radius: 9%;
    width: 300px;
}

@media (max-width: 650px){
    .bottom-style-right-3{
        width: 40px;
        height: 28px;
    }
    .bottom-style-right-3:hover{
        width: 80px;
    }
}


/* ================================================== End Right-Bottom animation */



.self-img img{
    border-radius: 50%;
    border: 8px solid #AFB4FF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5%;
    height: 200px;
    width: 200px;
    filter: grayscale(100%);
    transform: scale(1);
    
    transition: all 0.3s;
}

.self-img img:hover{
    cursor: pointer;
    /* width: 230px;
    height: 230px; */
    transform: scale(1.1);
    /* transform: scale(1.5); */
    filter: grayscale(50%);
    /*transform: rotate(180deg);*/
}

/* .self-img:hover img{
} */



/* ======================================================= About =================================================================== */

.about-p{
    margin-left: 2%;
    font-size: 35px;
}



/*============ Nav small scree ===========*/


.hamburger{
    display: none;
    cursor: pointer;

}

.bar{
    /*text-align: right;*/
    display: block;
    width: 25px;
    height: 3px;
    /*margin-left: 10%;*/
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

}

@media(max-width: 700px){
    .hamburger{
        margin-top: 10%;
        margin-left: 90%;
        display: block;

    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        /*opacity: 1;*/
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        /*opacity: 1;*/
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }

    .nav-menu.active{
        left: 0;

    }



}

/*============================== Project ===================================*/
/* ========================= div ==================== */

.visit-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    /*margin-bottom: 70%;*/
    margin-left: 40%;
    margin-right: 60%;
    text-decoration: none;
}

.visit-1 p{
    color: magenta;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 60px;
    border-radius: 50%;
    border: 5px solid #AFB4FF;
    transition: 0.5s;

}
.visit-1 p:hover{
    color: white;
    background-color: #8F54CE;
}



.first-project{
    background-image: url("css/project/quest-to-code.png");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-left: 14%;
    margin-right: 12%;
    float: left;
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 360px){
    .first-project{
        height: 150px;
        width: 260px;
    }
    .visit-1 p{
        color: magenta
        font-size: 19px;
    }

}


.first-project-2{
    background-image: url("css/project/blockcipher-music-room.png");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-left: 5%;
    float: left;
    /* border-radius: 5%; */
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}
.con{
    margin-top: 7%;
    /*margin-bottom: 5%;*/
}

@media (max-width: 360px){
    .first-project-2{
        height: 150px;
        width: 260px;
    }
/*    .visit-1 p{
        color: magenta
        font-size: 19px;
    }*/

}



.first-project-3{
    background-image: url("css/project/window-11.jpg");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-left: 14%;
    margin-right: 12%;
    margin-top: 6%;
    float: left;
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}


@media (max-width: 360px){
    .first-project-3{
        height: 150px;
        width: 260px;
    }
/*    .visit-1 p{
        color: magenta
        font-size: 19px;
    }*/

}


.first-project-4{
    background-image: url("css/project/free-website.jpg");
    background-size: 400px 250px;
    border: 5px solid #AFB4FF;
    margin-left: 5%;
    margin-top: 6%;
    float: left;
    /* border-radius: 5%; */
    height: 250px;
    width: 400px;
    border-radius: 5%;
    background-color: #AFB4FF;
    cursor: pointer;
    transition: 0.5s;
}


@media (max-width: 360px){
    .first-project-4{
        float: ;
        height: 150px;
        width: 260px;
    }

}

@media (max-width: 550px){
    .first-project-4{
        /*float: none;*/
    }

}


.first-project:hover{
    box-shadow: 4px 4px 8px 2px  #AFB4FF;
}


.first-project-2:hover{
    box-shadow: 4px 4px 8px 2px  #AFB4FF;
}


.first-project-3:hover{
    box-shadow: 4px 4px 8px 2px  #AFB4FF;
}


@media (max-width: 550px){
    .first-project{
        margin-left: 6%;
        margin-right: 2%;
        margin-bottom: 5%;
    }

    .first-project-2{
        margin-top: 6%;
        margin-left: 6%;
    }



    .first-project-3{
        margin-left: 6%;
        margin-right: 2%;
        margin-bottom: 5%;
    }

}







/* ========================== end div ============================= */


.more-project{
    margin-top: 50%;
    text-align: center;
    margin-bottom: 5%;
}

.more-project a{
    font-size: 20px;
    border: 3px solid #8F54CE;
    text-decoration: none;
    padding: 15px 27px;
    border-radius: 7%;
    transition: 0.5s;
}

.more-project a:hover{
    color: white;
    background: #8F54CE;
}

@media (max-width: 650px) {
    .more-project a{
        display: none;
        /*margin-top: 30%;*/
        /*margin-left: 40%;*/
    }

}


/* ============================= Contact ================ */

.massage{
    /*margin-top: 20%;*/
}

.info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.info i {
    font-size: 20px;
    color: #4753f7;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.info i:hover{
    background: #AFB4FF;
    color: #fff;
}

.info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

.info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
}




.email{
    margin-left: 20%;
    margin-top: 5%;
}
